    *{
    margin: 0;
    padding: 0;
    /* background-color: black; */
    font-family: sans-serif;
}
body{
    background-color: rgb(99, 89, 89);
}
.header{
    min-height: 100vh;
    width: 100%;
    display:flex;
    position: relative;
}
.list{
    display: flex;
    gap: 7rem;
    position: fixed;
    height: 10vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0px;
    background-color: rgba(196, 196, 30, 0.738);
    width: 100%;
}
.list li{
    text-decoration: none;
    list-style: none;
    margin-left: 50px;
}
.list  li a{
    color: #fff;
    cursor: pointer;
    /* align-items: center; */
    position: absolute;
    text-decoration: none;
       
}
.header ul li a:hover{
    color: blue;
    background-color: chocolate;
    font-weight: bold;
}
.btn{
    margin-top: -35%;
}
 .btn button{
    margin-top: -100%;
    height: 50px;
    width: 250px; 
    margin-left: 25%; 
    position: relative; 
    border: solod 5px blue ;
    border-radius: 5%;
    background-color: #0867ffd5;
    box-shadow: 20px;
    font-size: 20px;

} 
.fa-facebook{
    font-size: 30px;
    margin-left: -100px;
    padding: 10px;

}



.contact{
    position: relative;
    height: 100vh;
    width: 100%;
    margin-top: -750px;
}
.contact-left{
    width: 30%;
    position: absolute;
    top: 20%;
    left: 10%;
}
.contact-left p i{
    color: rgb(12, 24, 128);
    font-size: 30px;
    margin: 20px;
}
.gmial a{
    color: #fff;
    text-decoration: none;
}
.gmial a:hover{
    color:rgb(51, 51, 150) ;
    text-decoration: underline;
}
.call a{
    text-decoration: none;
    color: white;

}
.call a:hover{
    color: blue;
    text-decoration: underline;
}
.contact-left h1{
    color:brown;
    text-decoration: underline;
}
.contact-left p{
    color: white;
    font-size: 20px;
}
.social-icons{
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    width: 350px;
      
}
.fa-facebook{
    margin-left: 10%;
    font-size: 50px;
    margin-top: -10px;
}
.social-icons a{
    font-size: 50px;
    color: #ababab;
    transition: 0.5s;
}
.social-icons a:hover{
    color: rgba(0, 0, 255, 0.778);
    transform: translateY(-10px);
    background:linear-gradient(#f9004d,rgba(182, 37, 61, 0.836),rgb(179, 41, 179),rgba(128, 128, 128, 0.54));
}
.contact-left a button{
    background-color: black;
    height: 50px;
    width: 350px;
    border-radius: 10px;
    margin-top: 50px;
    color: white;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 1px;
    border: none;
    margin-left: 20px;
}
.contact-left a button:hover{
    box-shadow: 10px 10px 7px whitesmoke;
    transition: 1s;
    background-color: #f9004d;
    cursor: pointer;

}



.contact-right{
    margin-left:50% ;
    margin-top: 12%;
    position: absolute;

}
.contact-right form{
    width: 90%;
}
form input, form textarea{
    width: 70%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0px;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}
form button{
    height: 40px;
    width: 200px;
    margin-top: 15px;
    margin-left: 25%;
    background-color: #f9004d;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border: none;
    cursor: pointer;
}
form button:hover{
    box-shadow: 10px 10px 7px whitesmoke;
    transition: 1s;
    background-color:rgb(0, 225, 255);
    color: #262626;
}
