*{
    margin: 0;
    padding: 0;
    /* background-color: black; */
    font-family: sans-serif;
}
body{
    background-color: rgba(88, 83, 83, 0.584);
}
.header{
    min-height: 100vh;
    width: 100%;
    display:flex;
    position: relative;
}
.list{
    display: flex;
    gap: 7rem;
    position: fixed;
    height: 10vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0px;
    background-color: rgba(183, 183, 27, 0.738);
    width: 100%;
}
.list li{
    text-decoration: none;
    list-style: none;
    margin-left: 50px;
}
.list  li a{
    color: #fff;
    cursor: pointer;
    /* align-items: center; */
    position: absolute;
    text-decoration: none;
       
}
.header ul li a:hover{
    color: blue;
    background-color: chocolate;
}
.header h1{
    margin: 110px 500px;
    align-items: center;
    color:rgb(219, 101, 17);
    text-decoration: underline;
}
.container img{
    height: 350px;

    margin-top: -20%;
    margin-left: 80px;
    margin-right: -10px;
    cursor: pointer;
    
}   
.box1{
    margin-top: -400px;
    display: grid;
    grid-template-columns: auto auto auto;
    margin-right:60px;
    cursor: pointer;
    
}
.box1 video{
    width: 700px;
    height: 450px;
    margin-top:-200px;
    margin-left: 70px;

}
.box1 h1{
    text-align: center;
    padding-top: 20px;
    color:rgb(103, 12, 188);

}
.box2{
    margin-top: 200px;
    display: grid;
    grid-template-columns: auto auto ;
    margin-right: 70px;

}
.box2 h1{
    text-align: center;
    padding-top: 20px;
    color:blueviolet;

}
.p2 h1{
    color:rgb(219, 101, 17) ;
    text-align: center;
    padding-top: 40px;
    font-weight:bolder;
    text-decoration: underline;
}
.ct2 img{
    height: 350px;
    margin-left: 40px;
    margin-top: 20px;
}
.b1{
    display: grid;
    grid-template-columns: auto auto auto;
}
.b1 h1{
    color: blueviolet;
    margin-left: 300px;
    
}
.b1 video{
    width: 750px;
    height: 360px;
    margin-top: 10px;
}
.text h1{
    margin-top: 50px;
}

.dp video{
    height: 350px;
    width: 700px;
    margin-left: 25px;
    margin-top: 50px;
}
.p1 h1{
    margin-left: 250px;
    color:blue;
}
.dj h2{
    color:chocolate;
    text-align: center;
    font-weight:bolder;
    font-size: 35px;
    margin-top:30px;
    text-decoration: underline;
}
.djp1 video{
    height: 450px;
    width: 700px;
    margin-left: 30px;
}
.djp1 h1{
    margin-left: 100px;
    color: blue;
}

.fe{
    margin: 20px 30px;

}
.fe a{
    color:blue;
    font-size: 20px;
    font-weight: 900;
}
.fe h2{
    text-decoration: underline;
    color:rgb(201, 92, 14);
}